doctype html
html
  head
    meta(charset='utf-8')
    title Rdio Party
    link(href='/css/main.css', rel='stylesheet', type='text/css')
  body
    #app
      section#content
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='/js/main.js')